@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&family=Mountains+of+Christmas&family=Pacifico&display=swap');

html, body
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'IM Fell DW Pica', serif;
}

canvas
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

#menu
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
}

#socials
{
  display: flex;
}

.social
{
  margin: 0 10px;
}

.menuElement
{
  text-decoration: none;
  color: white;
  font-size: 1.8vw;
  font-weight: bold;
  cursor: pointer;
}

.menuElement:hover
{

}

#presentation
{
  display: flex;
  flex-direction: column;
}

.presentation
{
  color: white;
  z-index: 1;
  margin-top: 20px;
}

#name
{
  font-size: 5vw;
}

#job
{
  font-size: 2vw;
}

#contactContainer
{
  display: none;
  position: absolute;
}
